div{
    text-align: center;
    width: 300px;
    border: dotted 2px red;
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: red;

}
div img{
    width: 200px ;
}
div h4{

}
